@media (min-width: 1500px) {

    .banner_wrapper::before {
        width: 64%;
    }
}


@media (max-width: 1399.98px) {
    ...
}

@media (max-width: 1199.98px) {
    ...
}

@media (max-width: 991.98px) {

    /*    ==== navbar section ==== */
    .header_wrapper .navbar-toggler:hover,
    .header_wrapper .navbar-toggler:focus {
        box-shadow: unset;
        outline: unset;
        border: unset;
    }

    .header_wrapper .navbar-collapse {
        background: var(--primary-bg-color);
        -webkit-box-shadow: 0px 8px 11px -6px rgba(0, 0, 0, 0.43);
        box-shadow: 0px 8px 11px -6px rgba(0, 0, 0, 0.43);
    }

    .header_wrapper .nav-item .nav-new-color {
        color: var(--white-text-color);
    }

    .header_wrapper .menu-navbar-nav {
        text-align: center;
        padding-top: 2rem;
    }

    .header_wrapper .nav-item {
        padding-top: 1rem;
    }

    .header_wrapper .navbar {
        background: var(--primary-bg-color);
    }

    .trueCost_wrapper .calculations__inner {
        position: unset;
        width: 100%;
        margin-top: 40px;
    }

    .trueCost_wrapper {
        padding-bottom: 50px;
    }

    .header_wrapper .nav-item .nav-link::after {
        display: none;
    }

    .page_nav_wrapper .nav-item .nav-link {
        color: var(--white-text-color);
    }

    .page_nav_wrapper .nav-item .nav-link {
        text-align: center;
    }

    .header_scrolled .nav-item .nav-link {
        text-align: center;
    }
    .header_wrapper .nav-item .nav-link {
        text-align: center;
    }
    .header_wrapper .nav-item .nav-link .myaccount {
        fill: var(--white-text-color);
    }

    .three-mobile-section img {
        margin-bottom: -70px;
    }


}


@media (max-width: 767.98px) {

    .banner_wrapper::before {
        width: 100%;
    }

    /*    the top profit */
    .topProfit_wrapper .topProfit__items .topProfit-item {
        flex: 0 0 50%;
    }

    /*    how many staff */
    .cost-wrapper .costRight__calculator {
        outline-offset: 2px;
        margin-top: 25px;
    }

    /*   time And Attendance page banner */
    .pageBanner_wrapper::before {
        width: 100%;
    }
    .trueCost_image {
        margin-top: 35px;
    }

    .pageBanner_wrapper {
        padding: 160px 0 46px;
    }

    .mobile-layout__topprofit{
        display: block;
    }

    .topProfit_desktop {
        display: none;
    }


    .access_control__plat .ta__btm-right_inner {
        padding-left: 25px;
        padding-right: 25px;
    }

    .absolute-img {
        opacity: 0;
    }

    .who-app .who-app__left {
        max-width: unset;
    }

    .cctv-benefit .cctv-benefits__list ul {
        max-width: unset;
    }

    .cctv-benefit .cctv-benefit--circle {
        display: none;
    }

}


@media (max-width: 575.98px) {

    /* ---- navbar ------  */
    .banner_wrapper .banner-title {
        font-size: 35px;
    }

    .banner_wrapper .banner-title-text {
        font-size: 16px;
        margin-bottom: 10px
    }

    .banner_wrapper .learn-more-btn-section {
        padding: 9px 18px;

    }

    .banner_wrapper {
        padding: 160px 0 50px;
    }

    .about_wrapper .aboutRight-content p {
        font-size: 16px;
    }

    .about_wrapper .aboutRight-content p > span {
        font-size: 20px;
    }

    /*     cost wrapper */
    .cost-wrapper .cost__title h2 {
        font-size: 20px;
    }

    .cost-wrapper {
        margin-top: 40px;
    }

    /*    how many staff */
    .cost-wrapper .costLeft__content p {
        font-size: 16px;
    }


    .cost-wrapper .costLeft__content p > strong {
        font-size: 16px;
    }

    .cost-wrapper .costRight__calculator .costRight-title {
        font-size: 20px;
    }

    /*    top profit */
    .topProfit_wrapper .topProfit_title > h2 {
        font-size: 20px;
    }

    /*     our company */
    .ourCompany_wrapper .ourCompany__right .ourCompany__right-title {
        font-size: 20px;
        margin-top: 25px;
    }

    /*    contact form */
    .contact_wrapper .contact-from-title h2 {
        font-size: 20px;
    }

    .contact_wrapper .form-check label {
        font-size: 16px;
    }

    .pageBanner_wrapper .pageBanner_content h1 {
        font-size: 25px;
    }

    .pageBanner_wrapper .pageBanner_content p {
        font-size: 16px;
    }

    .pageBanner_wrapper .pageBanner_content .pageBanner_btn a {
        margin-top: unset;
    }

    .trueCost_wrapper .trueCost__title h2 {
        font-size: 20px;
    }
    .page_calc .costRight-title{
        font-size: 20px;
    }

    .page_calc {
        outline-offset: 2px;
    }

    .trueCost_wrapper .calculations__inner {
        padding: 25px;
    }
    .ta__btm .ta__btm-right {
        max-width: 100%;
    }

    .ta__btm .ta__btm-left h2 {
        font-size: 20px;
    }

    .ta__btm .ta__btm-right {
        font-size: 16px;
    }

    .access_control__plat .ta__btm-left h2 {
        font-size: 16px;
    }

    .covid-health .covid-health__left h2 {
        font-size: 25px;
    }

    .covid-health {
        margin-top: 40px;
    }

    .covid-health .covid-health__right > img {
        max-height: 350px;
    }

    .who-app-left__title {
        font-size: 25px;
    }

    .who-app {
        padding-bottom: unset;
    }

    .who-app .who-app-main-img {
        padding-top: 30px;
    }

    .who-app .list-who-app li {
        font-size: 16px;
    }

    .cctv-benefit .cctv-benefits__title h2 {
        font-size: 20px;
    }

    .access_control__plat .ta__btm-right {
        font-size: 16px;
    }
    .cctv-benefit .cctv-benefits__list ul {
        padding-left: 15px;
    }
    .cctv-benefit .cctv-benefits__list ul li {
        font-size: 16px;
    }

    .cctv-benefit .cctv-benefit__images {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
}































